<div id="site_list">
<h3>Restaurantes encontrados</h3>

  <table> 
  <% @restaurantes.each do |restaurante| %>
    <tr class="<%= cycle('list_line_odd', 'list_line_even') %>"> 
 
      <td> 
        <%= link_to image_tag(restaurante.foto, :class => 'list_image'), restaurante if restaurante.foto? %>
      </td> 
 
      <td class="list_description"> 
        <dl> 
          <dt><%= link_to restaurante.nombre, restaurante %></dt> 
          <dd><%= truncate(strip_tags(restaurante.descripcion),
                 :length => 40) %></dd>
		  <dd><%= restaurante.direccion %></dd>		
          <dd><%= restaurante.telefono %></dd>				 
        </dl> 
      </td>
 
      <td class="list_actions"> 

          <%= link_to 'Editar', edit_restaurante_path(restaurante) %><br/>
          <%= link_to 'Eliminar', restaurante, :confirm => 'Confirmar', :method => :delete %>
      </td> 
    </tr> 
  <% end %>
  </table>   
  


<br />

<%= link_to 'New Restaurante', new_restaurante_path %>
<br />
</div>