<p id="notice"><%= notice %></p>
<div id="ficharestaurante">
<div class="menu">
<h3>Menu del dia</h3>
<% if (@restaurante.menudeldium.nil?) %>
<p><strong>No hay datos disponibles</strong></p>

<% else %>

<%= render :file => '/menudeldia/_menu', :collection => @restaurante.menudeldium %>

<% end %>
</div>

<div class="ficha">
<h3>Ficha del restaurante (<%= link_to 'Editar', edit_restaurante_path(@restaurante) %>)</h3>
<%= image_tag(@restaurante.foto, :class => 'list_image') if @restaurante.foto? %>
<p><strong>
<% if(@restaurante.web?) %>
<%= link_to(@restaurante.nombre, @restaurante.web) %>
<% else %>
<%= @restaurante.nombre %>
<% end %>
</strong></p>
<p><%= @restaurante.descripcion %></p>

<% if(@restaurante.direccion?) %>
<p><b>Dirección:</b> <%= @restaurante.direccion %></p>
<% end %>

<% if(@restaurante.telefono?) %>
<p><b>Teléfono:</b> <%= @restaurante.telefono %></p>
<% end %>

</div>



</div>