<p id="notice"><%= notice %></p>

<p>
  <b>Primeros:</b>
  <%= @menudeldium.primeros %>
</p>

<p>
  <b>Segundos:</b>
  <%= @menudeldium.segundos %>
</p>

<p>
  <b>Extras:</b>
  <%= @menudeldium.extras %>
</p>

<p>
  <b>Precio:</b>
  <%= @menudeldium.precio %>
</p>

<p>
  <b>Fecha:</b>
  <%= @menudeldium.fecha %>
</p>


<%= link_to 'Edit', edit_menudeldium_path(@menudeldium) %> |
<%= link_to 'Back', menudeldia_path %>
